table {
    width: 90%;
    border-collapse: collapse;
}
table thead tr {
    font-weight: bold;
    border: 1px solid black;
}
#add_user {
    width: 300px;
}
    #add_user form {
        text-align: right;
    }
    #add_user h1 {
        border-bottom: 1px solid black;
    }